@font-face {
  font-family: medium;
  src: url(./fonts/Circular-Medium.ttf);
}
@font-face {
  font-family: Qanelas-med;
  src: url(./fonts/Qanelas-Medium.otf);
}
@font-face {
  font-family: Qanelas;
  src: url(./fonts/Qanelas-SemiBold.ttf);
}
@font-face {
  font-family: standard;
  src: url(./fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: Qanelas-medium;
  src: url(./fonts/Qanelas-Medium.otfs);
}

body {
  background-color: #f3ecec;
}

.type {
  display: inline-block;
  color: #f28b5e;
}

header {
  background-color: #f3ecec;
}

.header-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.hover:hover .update {
  display: none;
}
.hover:hover .orig {
  display: inline-block}

.hover .orig {
  display:none;
}

.header-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  height: 50%;
  display: flex;
  color: #3d3c3c;
  font-size: 32px;
  font-family: "Qanelas-med";
  align-self: center;
  align-items: center;
}

.header-image {
  background-image: url(./images/small-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center center;
}

.header-container {
}

.navigation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10%;
  width: 90%;
  margin: 0 auto;
}
.desktop-menu {
  display: none;
}
.desktop-menu ul li a {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  font-family: "standard";
  color: #3d3c3c;
}
.desktop-menu ul li:last-child {
  padding: 5px 15px;
  align-self: center;
  background-color: #ff8d5f;
  box-shadow: 5px 10px red !important:
}
.donation-text {
  background-color: #ff8d5f;
  color: white;
  border: none;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 10px 3px 7px rgba(228,225,211,0); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 10px 3px 7px rgba(228,225,211,0);
}

.desktop-menu .donation-text a {
  color: white;
}
.logo img {
  width: 120px;
}

.first-section {
  height: 360px;
  background-color: #c5cfc6;
}
.vision-container {
  text-align: center;
  display: flex;
  height: 380px;
  width: 79%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.vision-header {
  margin-bottom: 20px;
}
.vision-header h2 {
  font-family: "Qanelas";
  font-size: 35px;
  color: #365a4f;
}
.vision-paragraph {
  margin-bottom: 20px;
}
.vision-paragraph p {
  font-family: "standard";
  font-size: 23px;
  color: #3d3c3c;
}

.learn-more-button button {
  font-family: "standard";
  border: none;
  color: white;
  padding: 11px 26px;
  background-color: #c27441;
}

.second-section {
  height: 990px;
  background-color: #f3ecec;
}

.values-container {
  padding-top: 40px;
  display: flex;
  height: 900px;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.value {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.value-icon {
  opacity: 0.8;
}
.value-header h3 {
  color: #365a4f;
  font-family: "standard";
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 0;
}
.value-paragraph p {
  font-family: "Qanelas";
  font-size: 15px;
  color: #3d3c3c;
  width: 72%;
  margin: 0 auto;
}

.third-section {
  background-color: #c5cfc6;
  height: 506px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quote-tagline {
  text-transform: uppercase;
  font-family: "medium";
  color: #c27441;
  font-size: 15px;
}
.quote-header h2 {
  color: #365a4f;
  font-family: "Qanelas";
  font-size: 35px;
}

.third-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 389px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.quote-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.empty {
  width: 19%;
}
.carousel {
  width: 75%;
}

.carousel-cell {
  width: 100%;
  height: 260px;
  margin-right: 10px;
  background: #365a4f;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.quote {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.quotation-icon p {
  height: 65px;
  padding-left: 20px;
  font-size: 70px;
  text-align: left;
  font-family: "Qanelas";
  color: #f4eeea;
}
.quotation-paragraph {
  width: 80%;
  margin: 0 auto;
}
.quotation-paragraph p {
  color: #f4eeea;
  font-family: "Qanelas";
  font-size: 19px;
  text-align: right;
}

.line {
  margin-top: 9px;
  margin-bottom: 5px;
  border-bottom: 2px solid #365a4f;
  width: 51%;
  box-shadow: -1px 2px rgb(36, 34, 34);
  text-align: right;
  align-self: flex-end;
  margin-right: 22px;
  opacity: 0.5;
}

.quotee p {
  color: #f4eeea;
  font-family: "Qanelas";
  font-size: 15px;
  text-align: right;
  margin-right: 22px;
  margin-top: 5px;
  opacity: 0.7;
}

/* get involved section */

.fourth-section {
  background-image: url(./images/get-involved-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 506px;
}

.get-involved-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.get-involved-header {
  margin-bottom: 22px;
}
.get-involved-header h2 {
  color: #f3ecec;
  font-size: 9vw;
  font-family: "Qanelas";
}
.large-button {
  margin-bottom: 30px;
}
.large-button button {
  background-color: #c07341;
  color: #f3ecec;
  font-size: 20px;
  font-family: "Qanelas";
  padding: 13px;
  width: 209px;
  border: none;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #f3ecec;
}
.footer-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;

  justify-content: space-between;
  margin-top: 17px;
}

.footer-headline p {
  font-size: 15px;
  font-family: "Qanelas";
  color: #365a4f;
}
.email a {
  font-size: 25px;
  text-decoration: none;
  color: #3d3c3c;
  font-family: "medium";
}

/* media queries */

@media only screen and (max-width: 4500px) {
  .mobile-menu {
    display: none;
  }
  .donate-button {
    display: none;
  }
  .desktop-menu {
    display: block;
    width: 50%;
  }
  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }
 
  .donation-text li {
    color: white !important;
  }

  ul li {
    align-self: center;
  }

  header {
    background-image: url(./images/2xl-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 970px;
  }
  .header-text {
    height: 70%;
    width: 50%;
  }
  .header-text p {
    font-size: 50px;
  }
  .header-image {
    display: none;
  }
  .navigation-container {
    padding-top: 5%;
  }
}
@media only screen and (min-width: 1400px) {
  .quotation-paragraph p {
    font-size: 22px;
  }
  .navigation-container {
    padding-top: 3%;
  }
  header {
    background-image: url(./images/alpha-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 967px;
  }
}
@media only screen and (max-width: 1500px) {
  .mobile-menu {
    display: none;
  }
  .donate-button {
    display: none;
  }
  .desktop-menu {
    display: block;
    width: 40%;
  }
  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }

  .donation-text li {
    color: white !important;
  }

  ul li {
    align-self: center;
  }

  header {
    background-image: url(./images/2xl-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }
  .header-text {
    margin-top: 0%;
    height: 80%;
    width: 66%;
  }
  .header-text p {
    font-size: 45px;
  }
  .header-image {
    display: none;
  }
  .navigation-container {
    padding-top: 3%;
  }
}

@media only screen and (min-width: 1250px) {
  .vision-paragraph p {
    font-size: 38px !important;
  }
  .vision-container {
    height: 100%;
    width: 70%;
  }
  .first-section {
    height: 500px;
    background-color: #c5cfc6;
    display: flex;
  }
}

@media only screen and (min-width: 940px) {
  .header-text p {
    font-size: 59px;
    align-self: center;
    padding-bottom: 9%;
    text-align: center;
    line-height: 68px;
  }

  .vision-paragraph p {
    font-size: 33px;
  }
}
@media only screen and (min-width: 900px) {
  .empty {
    width: 37%;
  }
  .carousel-cell {
    width: 55%;
  }
  .values-container {
    flex-direction: row;
    height: 300px;
    align-items: center;
    width: 90%;
  }
  .values-container p {
    width: 90%;
  }
  .second-section {
    height: 315px;
  }
}

@media only screen and (min-width: 640px) {
  .menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none  !important;
  }
  .menu-btn a {
    display: none !important;
  }
}

@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 1200px) {
  header {
    background-image: url(./images/2xl-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 967px;
  }

  .header-text {
    height: 80%;
    width: 66%;
  }
  .mobile-menu {
    display: none;
  }
  .donate-button {
    display: none;
  }
  .desktop-menu {
    display: block;
    width: 50%;
  }
  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }

  .donation-text li {
    color: white !important;
  }

  ul li {
    align-self: center;
  }

  header {
    background-image: url(./images/extra-lg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 920px;
  }

  .header-text p {
    font-size: 50px;
  }
  .header-image {
    display: none;
  }
  .navigation-container {
    padding-top: 5%;
  }
}

@media only screen and (max-width: 1000px) {
  .logo img {
    height: 50px;
    width: 80px;
  }
  .mobile-menu {
    display: none;
  }
  .donate-button {
    display: none;
  }
  .desktop-menu {
    display: block;
    width: 50%;
  }
  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }
 
  .donation-text li {
    color: white !important;
  }

  ul li {
    align-self: center;
  }

  header {
    background-image: url(./images/extra-lg-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 920px;
  }
  .header-text {
    height: 70%;
    width: 50%;
  }
  .header-text p {
    font-size: 50px;
  }
  .header-image {
    display: none;
  }
  .navigation-container {
    padding-top: 5%;
  }
}
@media only screen and (max-width: 999px) {
  .header-text {
    width: 71%;
  }
  .header-text p {
    font-size: 42px;
    margin-top: 10%;
  }
  .navigation-container {
    padding-top: 5%;
  }
  .mobile-menu {
    display: none;
  }
  .donate-button {
    display: none;
  }
  .desktop-menu {
    display: block;
    width: 53%;
  }
  .desktop-menu ul {
    display: flex;
    justify-content: space-between;
  }

  .donation-text li {
    color: white !important;
  }

  ul li {
    align-self: center;
  }

  .fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .get-involved-container {
    height: 62%;
    justify-content: space-between;
  }

  header {
    background-image: url(./images/large-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 900px;
  }
  .header-image {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .fourth-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .get-involved-container {
    height: 62%;
    justify-content: space-between;
  }

  header {
    background-image: url(./images/large-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }
  .desktop-menu {
    display: block;
    width: 70%;
  }
}

@media only screen and (max-width: 740px) {
  .header-text {
  }
  .header-text p {
    font-size: 36px;
  }
  .desktop-menu {
    display: block;
    width: 70%;
  }
}
@media only screen and (max-width: 835px) {
  .header-text {
    height: 50%;
  }
  .header-text p {
    margin-top: 0;
  }
}
@media only screen and (max-width: 658px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .donate-button {
    display: block;
  }
  header {
    height: 100%;
    background-image: none;
  }
  .navigation-container {
    padding-top: 5%;
  }
  .header-text {
    height: 40%;
  }

  .header-text p {
    font-size: 35px;
    padding-top: 9%;
  }

  .header-image {
    height: 65%;
    display: block;
  }
}

@media only screen and (max-width: 555px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .donate-button {
    display: block;
  }
  .header-text {
    height: 40%;
    width: 80%;
  }

  .header-text p {
    align-self: end;
    font-size: 30px;
  }
  header {
    height: 100%;
    background-image: none;
  }

  .header-image {
    background-size: cover;
    height: 54%;
    display: block;
  }
}

@media only screen and (max-width: 475px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .donate-button {
    display: block;
  }
  .desktop-menu {
    display: none;
  }
  header {
    height: 620px;
    background-image: none;
  }
  .header-text {
    height: 40%;
  }
  .header-image {
    height: 65%;
    background-size: contain;
    display: inline;
  }

  .navigation-container {
    padding-top: 4%;
  }
}

@media only screen and (max-width: 450px) {
  .hover:hover .update {
    display: none;
  }
  .hover:hover .orig {
    display: inline-block}
  
  .hover .orig {
    display:none;
  }
  
  .desktop-menu {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  header {
    background-image: none;
  }
  .navigation-container {
    padding-top: 7% !important;
  }
  .header-image {
    background-size: contain;
    height: 56%;
  }
  .header-text {
    height: 42%;
  }
  .header-text p {
    padding-top: 0%;
    margin-top: 40px;
    font-size: 27px;
    max-height: 142px;
    min-height: 142px;
}
  .navigation-container {
    padding-top: 4%;
  }
}
@media only screen and (max-width: 300px) {
  .desktop-menu {
    display: none;
  }
  header {
    height: 620px;
    background-image: none;
  }

  .header-image {
    background-size: contain;
  }
}

/* reset */
/*******************
 Box Sizing
 *******************/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*******************
   Core body defaults
   @see https://hankchizljaw.com/wrote/a-modern-css-reset/
   *******************/
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/****************************
   Generic Margins and Paddings
   ****************************/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
figcaption,
hr,
dl,
dd {
  margin: 0;
  padding: 0;
}

/*******************
   Lists
   *******************/
ul {
  list-style: none;
}

/*******************
   Forms and buttons
   *******************/
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

/* I usually expand input and textarea to full-width */
input[type="text"],
textarea {
  width: 100%;
}

/* More friendly border */
input,
textarea,
button {
  border: 1px solid gray;
}

/* Some defaults for one-liner buttons */
button {
  padding: 0.75em 1em;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/***********************************
   Easy responsive for media elements
   ***********************************/
img,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

/*******************
   Useful table styles
   *******************/
table {
  table-layout: fixed;
  width: 100%;
}

/*******************
   The hidden attribute
   *******************/
[hidden] {
  opacity: 0;
  visibility: hidden;
}

/*******************
   Noscript
   *******************/
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

/*******************
   Tabindex
   *******************/
[tabindex="-1"] {
  outline: none !important;
}

/*******************
   Remove animations and transitions
   @see https://hankchizljaw.com/wrote/a-modern-css-reset/
   *******************/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*******************
   * Screen-ready only class to hide content visually
   * Solution by Joe Watkins.
   * @see https://zellwk.com/blog/hide-content-accessibly/
   *******************/
.sr-only {
  position: absolute;
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

/* hamburger menu styles */
/* 
- Name: Responsive overlay menu framework
- Version: 1.0
- Latest update: 15.9.2015.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

h3 {
    color: #e9e9e9;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
}

h4 {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
}

a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
/* OPEN / CLOSE BTNS */
.menu-btn {
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: 999;
    display: inline;
    font-size: 32px;
}
.menu-btn a {
    display: inline-block;
    text-decoration: none;
    /* safari hack */
}
.btn-open:after {
    color: #333;
    content: "\f394";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}
.btn-open:hover:after {
    color: #34B484;
}
.btn-close:after {
    color: #fff;
    content: "\f2d7";
    font-family: "Ionicons";
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition-property: all .2s linear 0s;
}
.btn-close:hover:after {
    color: #34B484;
}
/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    z-index: 99;
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #333;
}
.overlay .menu {
    margin: 10% auto;
    width: 80%;
}
.overlay .menu ul {
    margin: 0;
    padding: 0;
    width: 100%;
}
.overlay .menu ul li {
    float: left;
    padding: 20px 0;
    width: 25%;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
}
.overlay .menu ul li a {
    color: #34B484;
    font-weight: bold;
    font-size: 20px;
}
.overlay .menu ul ul {
    margin-top: 50px;
}
.overlay .menu ul ul li {
    position: relative;
    float: none;
    margin: 0;
    width: 100%;
    border: 0;
}
.overlay .menu ul ul li a {
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
}
.overlay .menu ul ul li a:hover {
    color: #34b484;
}
/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .overlay .menu ul li {
        float: none;
        margin-bottom: 50px;
        width: 100%;
        border-bottom: 1px solid #575757;
    }
    .overlay .menu ul li:last-child {
        border: 0;
    }
    .overlay .menu ul ul {
        margin-top: 20px;
    }
    .menu-btn {
        right: 25px;
    }
}

.allexamples{
  position:absolute;
  bottom:0;
  font-size:18px;
  font-weight:bold;
  width:100%;
  text-align:center;
  background:#e9e9e9;
  padding:20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color:#333;
  position:fixed;
} 
 

/* hamburger menu styles */

/* old styles */
